body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  padding: 20px;
}

.grid {
  margin-top: 20px;
}

.dropzone {
  border: 2px dashed #161414;
  padding: 20px;
  text-align: center;
  
}

.video,
.audio {
  width: 100%;
}
